<div id="addMore"> 

<h1>Add more photos to BadLibs Breaking Midas</h1>

<form method="POST" action="/images">
  <label>Walter White</label>
    
    <input name="url" placeholder="Enter Image URL">
    <input type="hidden" value="Walter" name="category"> 

  <button>SAVE</button>
</form>

<form method="POST" action="/images">
  <label>Baby Holly White</label>
    
    <input name="url" placeholder="Enter Image URL">
    <input type="hidden" value="Baby" name="category"> 

  <button>SAVE</button>
</form>

<form method="POST" action="/images">
  <label>Blue Meth</label>
    
    <input name="url" placeholder="Enter Image URL">
    <input type="hidden" value="Blue_Sky" name="category"> 

  <button>SAVE</button>
</form>

<form method="POST" action="/images">
  <label>Gus Fringe</label>
    
    <input name="url" placeholder="Enter Image URL">
    <input type="hidden" value="Gus" name="category"> 

  <button>SAVE</button>
</form>

</div>